.container {
  width: 100%;
  max-width: 70rem;
  min-height: calc(100vh - 6.5625rem);
  margin: auto;
  padding: 1.5rem 0 5rem;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
