.post {
  height: fit-content;
  min-height: 6.75rem;
  padding: 0 18.75%;

  h2 {
    color: var(--grey-50);
    font-size: 1.75rem;
    line-height: 2.125rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  p {
    text-align: justify;
    margin-bottom: 1.5rem;
  }

  .info {
    display: flex;

    .infoItem {
      font-size: 0.875rem;

      span {
        margin-left: 0.5rem;
      }

      & + .infoItem {
        margin-left: 1.5rem;
      }
    }
  }

  & + .post {
    margin-top: 3rem;
  }
}

.loadButton {
  color: var(--pink-500);
  background: transparent;
  border: none;
  margin-top: 4rem;
  padding: 0 18.75%;
}
