.container {
  width: 100%;
  max-width: 70rem;
  height: 6.5625rem;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  a {
    padding-left: 18.75%;
  }

  img {
    display: block;
  }
}
